<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->
<!--/*@thymesVar id="taskMap" type="java.util.Map<com.javarush.jira.bugtracking.to.SprintTo, java.util.List<com.javarush.jira.bugtracking.to.TaskTo>>"*/-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<th:block th:replace="~{layout/main::page(title='JiraRush: mini bugtracking system',appMain=~{::appMain})}">
    <appMain>
        <h1>Backlog</h1>
        <div class="container text-center">
            <div class="row " th:each="entry: ${backlog}">
                <div class="card">
                    <div class="card-body" th:with="priorityCode=${entry.key}, tasks=${entry.value}">
                        <div class="row">
                            <div class="col" th:each="task: ${tasks}">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-2 text-muted" style="text-align: left; "
                                            th:text="${task.title}"></h5>
                                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: left; "
                                            th:text="${task.description}"></h6>
                                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: left; "
                                            th:text="${task.priorityCode}"></h6>
                                        <button  th:onclick="'subscribeToTask(' + ${task.id} + ')'" class="btn btn-primary">Подписаться</button>
                                        <button  th:onclick="'unsubscribe(' + ${task.id} + ')'" class="btn btn-danger">Отписаться</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <ul>
                <li th:class="${currentPage == 1} ? disabled : ''">
                    <a th:href="@{/backlog(page=1,size=__${size}__)}">&laquo;</a>
                </li>

                <li th:each="pageNumber: ${#numbers.sequence(1, totalPages)}" th:class="${pageNumber == currentPage} ? active : ''">
                    <a th:href="@{/backlog(page=${pageNumber},size=__${size}__)}" th:text="${pageNumber}"></a>
                </li>

                <li th:class="${currentPage == totalPages} ? disabled : ''">
                    <a th:href="@{/backlog(page=${totalPages},size=__${size}__)}">&raquo;</a>
                </li>
            </ul>
        </div>
        <script>
            function unsubscribe(taskId) {
                $.ajax({
                    type: "GET",
                    url: "/unsubscribe/" + taskId,
                    success: function (response) {
                        console.log("Task unsubscribed successfully!");
                    },
                    error: function (xhr, status, error) {
                        console.error("Error unsubscribing task: " + error);
                    }
                });}

            function subscribeToTask(taskId) {
                $.ajax({
                    type: "GET",
                    url: "/subscribe/" + taskId,
                    success: function(response) {
                        console.log("Task subscribed successfully!");
                    },
                    error: function(xhr, status, error) {
                        console.error("Error subscribing task: " + error);
                    }
                });
            }
        </script>
    </appMain>
</th:block>
